<h1 class="mb-3 mt-5 pt-5 text-center">Product List</h1>
<br />
<div class="container">
  <div class="row">
    <div class="col-4 mb-5" *ngFor="let p of productServ.documentos">
      <div class="card card-move m-2 item">
        <img
          [src]="p.url_img" class="card-img-top img-fluid" alt="Responsive image"
        />
        <div class="card-body">
          <span class="badge bg-warning text-dark mb-3">{{ p.category }}</span>
          <h6 class="card-title">{{ p.article }}</h6>
          <p class="card-text h5">$ {{ p.price }}</p>
          <a
            routerLink="/detail/{{ p._id }}"
            class="btn btn-outline-primary btn-sm"
            >Detail</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="my-5 pt-5 text-muted text-center text-small">
  <p class="mb-1">&copy; 2022 Ecommerce Alvaro Leal</p>
  <ul class="list-inline">
    <li class="list-inline-item text-secondary">privacy</li>
    <li class="list-inline-item text-secondary">Terms</li>
    <li class="list-inline-item text-secondary">Support</li>
  </ul>
</footer>
