/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Roboto', sans-serif
    
  
}

.card {
    box-shadow: -10px 5px 10px rgb(205, 204, 204);
    transition: top ease 0.5s;
}

.card-move:hover {
    top: -20px;
}

a {
    text-decoration: none;
    color: black;
}

.form-signin {
    max-width: 800px;
    margin-right: 1000px;
    margin-bottom: 100px;
    padding-top: 100px;
    padding-right: 166px;
    padding-left: 166px;
  
    
  }

  .form-register {
      max-width: 800px;
      margin-right: 1000px;
      margin-bottom: 10px;
      padding-top: 30px;
      padding-right: 166px;
      padding-left: 166px;
    }
 